.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #f8f8f8;
    color: #333;
  }
  
  .messageBox {
    text-align: center;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-bottom: 20px;
    color: #007bff;
  }
  
  p {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .smile {
    font-size: 50px;
    margin-top: 20px;
  }
  